export(flowBasis)
export(flowDa)
export(flowPca)
export(pAdjustMx)
export(print.Mclust)
exportClasses(flowBasis)
exportClasses(flowDa)
exportClasses(flowPca)
exportMethods("nPca<-")
exportMethods("setClust<-")
exportMethods(flowDaTest)
exportMethods(getBasis)
exportMethods(getBw)
exportMethods(getClust)
exportMethods(getClustClass)
exportMethods(getDa)
exportMethods(getDaScore)
exportMethods(getFset)
exportMethods(getGroups)
exportMethods(getMpc)
exportMethods(getParam)
exportMethods(getPbFp)
exportMethods(getPbMod)
exportMethods(getPca)
exportMethods(getPcaScore)
exportMethods(nPca)
exportMethods(nSet)
exportMethods(nbin)
importFrom(flowCore)
importFrom(stats)
